.vidoe-main{text-align:center;width:100%;margin:auto;border:none}
.vidoe-main1{text-align:center;width:100%;margin:auto;border:4px solid #8d5301}
.youtube{background-color:#000;position:relative;padding-top:61.3%;overflow:hidden;cursor:pointer}
.youtube img{width:100%;top:0;left:0;opacity:.7}
.youtube .play-button{width:90px;height:60px;background-color:#f00;box-shadow:none;z-index:1;opacity:.8;border-radius:6px}
.youtube .play-button:before{content:"";border-style:solid;border-width:15px 0 15px 26px;border-color:transparent transparent transparent #fff}
.youtube .play-button,.youtube img{cursor:pointer}
.youtube .play-button,.youtube .play-button:before,.youtube iframe,.youtube img{position:absolute}
.youtube .play-button,.youtube .play-button:before{top:50%;left:50%;transform:translate3d(-50%,-50%,0)}
.youtube iframe{height:100%;width:100%;top:0;left:0}
.youtube1{background-color:#000;position:relative;padding-top:60.4%;overflow:hidden;cursor:pointer}
.youtube1 img{width:100%;top:0;left:0;opacity:.7}
.youtube1 .play-button{width:90px;height:60px;background-color:#f00;box-shadow:none;z-index:1;opacity:.8;border-radius:6px}
.youtube1 .play-button:before{content:"";border-style:solid;border-width:15px 0 15px 26px;border-color:transparent transparent transparent #fff}
.youtube1 .play-button,.youtube1 img{cursor:pointer}
.youtube1 .play-button,.youtube1 .play-button:before,.youtube1 iframe,.youtube1 img{position:absolute}
.youtube1 .play-button,.youtube1 .play-button:before{top:50%;left:50%;transform:translate3d(-50%,-50%,0)}
.youtube1 iframe{height:100%;width:100%;top:0;left:0}
.youtubed{background-color:#000;position:relative;padding-top:56.25%;overflow:hidden;cursor:pointer}
.youtubed img{width:100%;top:0;left:0;opacity:.7}
.youtubed .play-button{width:90px;height:60px;background-color:#333;box-shadow:0 0 30px rgba(0,0,0,.6);z-index:1;opacity:.8;border-radius:6px}
.youtubed .play-button:before{content:"";border-style:solid;border-width:15px 0 15px 26px;border-color:transparent transparent transparent #fff}
.youtubed .play-button,.youtubed img{cursor:pointer}
.youtubed .play-button,.youtubed .play-button:before,.youtubed iframe,.youtubed img{position:absolute}
.youtubed .play-button,.youtubed .play-button:before{top:50%;left:50%;transform:translate3d(-50%,-50%,0)}
.youtubed iframe{height:100%;width:100%;top:0;left:0}